@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Silkscreen", sans-serif;
  /* outline: 1px solid red; */
}

:root {
  --cell-size: 10vw;
  --mark-size: calc(var(--cell-size) * 0.9);
}

html {
  font-size: 10px;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
}

/* 
===========
START MENU
===========
*/

.game-start {
  height: 100%;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  place-items: center;
  margin: auto;
}

.game-start p {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1ch;
  grid-column: 1 / -1;
  font-size: 5rem;
}

/* Used break-spaces to preserve the white spaces */
.game-start .word {
  flex: 1;
  transform: translateY(10%);
  white-space: break-spaces;
  animation: trampoline 1s ease calc(var(--index) * 150 * 1ms) infinite
    alternate;
}

.game-start button {
  position: relative;
  flex: 1;
  outline: none;
  border: 1px solid white;
  border-radius: 15px;
  background-color: inherit;
  color: inherit;
  font-size: 4rem;
  padding: 1rem 4rem;
}

.ai-button:hover,
.human-button:hover {
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ai-button:hover span,
.human-button:hover span {
  visibility: hidden;
}

.ai-button:hover {
  background-image: url("images/ai-img.png");
}

.human-button:hover {
  background-image: url("images/human.png");
}

.start-button {
  grid-column: 1 / -1;
}

.start-button:hover {
  background-color: white;
  color: black;
}

.ai-button:active,
.human-button:active,
.start-button:active {
  filter: brightness(90%);
}

/* 
===========
GAME
===========
 */

.game-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  font-size: var(--mark-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n) {
  border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

/* 
===========
ANIMATIONS
===========
*/

@keyframes trampoline {
  0% {
    transform: translateY(10%);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
}
